.segundoContainer a {
    text-decoration: none;
    color: white;
}

.linkMobile {
     margin: 15px;
}

.linkMobile a {
    display: block;
    text-decoration: none;
    color: #00ced1;
    transition: 0.3s;
}

.linkMobile a:hover {
    background-color: #00ced1;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.busqueda {
    margin: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.inputBusqueda {
    width: 70%;
    margin: 5px;
    border-radius: 2px;
}

.btnBusqueda {
    width: 20%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border-color: #00ced1;
    color: #00ced1;
    font-weight: 100;
    justify-content: space-between;
    font-size: 80%;
}

.btnBusqueda:hover {
    background-color: #00ced1;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transform: translateY(-7px);
}